@font-face {
  font-family: jost;
  src: url("Jost-Italic-VariableFont_wght.ttf");
}
html {
  font-family: jost, roboto;
  font-size: 1.3rem;
}
body {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1636953056323-9c09fdd74fa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo-aula {
  color: red;
  text-align: center;
}
#primeira-aula {
  letter-spacing: 1rem;
}
#segunda-aula {
  text-transform: uppercase;
}
a:active {
  color: green;
  cursor: help;
}
a:visited {
  color: red;
  cursor: pointer;
}
.box {
  box-sizing: content-box;
  width: 5rem;
  height: 5rem;
  padding: 5px;
  text-align: center;
}

.azul {
  background-color: blue;
}

.vermelho {
  background-color: green;
}

.verde {
  background-color: red;
}
